.generate-button {
    background-image: linear-gradient(to right, rgba(216, 215, 215, 0.382), rgb(169, 168, 168)) !important;
    height: 50px;
    width: 100%;
    border-radius: 16px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.generate-button:disabled {
    cursor: wait;
    opacity: 0.9;
}
