.d-flex {
    display: flex;
}

.d-inline{
    display: inline;
}

.flex-column {
    flex-direction: column;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}