.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 800;
}

.font-weight-600 {
    font-weight: 800;
}

.font-weight-500 {
    font-weight: 800;
}

.font-weight-400 {
    font-weight: 800;
}